@import "tailwindcss";
@import "tw-animate-css";
* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #111; /* หรือสีพื้นหลังของ 3D Scene */
}
